<nav class="global-nav">
  <li data-nav="couple" class="global-nav-couple"><a href="couple"><span class="full-name">TIANYU & JEFF</span><span class="short-name">T & J</span></a></li>
  <li data-nav="wedding" class="global-nav-wedding"><a href="wedding">WEDDING</a></li>
  <li data-nav="registry" class="global-nav-registry" ><a href="registry">REGISTRY</a></li>
  <li data-nav="rsvp" class="global-nav-rsvp"><a href="rsvp">RSVP</a></li>
</nav>
<button class="hamburger" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>