<section class="main-card registry" data-current="registry">
  <div class=" main-card-content">
    <div class="main-card-content-block">
      <h2>Thank you! but...</h2>
      <h3>No Boxed Gifts Please</h3>
      <p>While personal gifts of household items or sentimental pieces are greatly appreciated.</p>
      <p>We are currently saving for our honeymoon and we would greatly welcome monetary gifts; It will hopefully save you time and hassle in shopping, as well as help us reach our goal more quickly.</p>
  </div>
</section>