<section class="main-card wedding" data-current="wedding">
  <div class=" main-card-content">
    <div class="main-card-content-block info">
      <div class="info-block">
        <h2>May 13, 2017</h2>
      </div>
      <div class="info-block schedule">
        <div class="schedule-item">
          <div class="schedule-item-time">5:00pm</div>
          <div class="schedule-item-event">CEREMONY</div>
          <p>it will be held in the court yard which is surrounded by Boston's cityscrape</p>
        </div>
        <div class="schedule-item">
          <div class="schedule-item-time">6:00pm</div>
          <div class="schedule-item-event">COCKTAIL</div>
          <p>please enjoy drinks & refreshments at the Oriental Gallery</p>
        </div>
        <div class="schedule-item">
          <div class="schedule-item-time">7:00pm</div>
          <div class="schedule-item-event">RECEPTION</div>
          <p>it will be held in the Grand Ballroom, dinner and dancing to follow</p>
        </div>
        <h3>Dress Code: Formal </h3>
      </div>
      <hr>
      <div class="info-block">

        <img src="/img/mobos-logo.png">
        <h2>Mandarin Oriental, Boston</h2>
        <p>776 Boylston Street <br>
        Boston, MA 02199</p>
        <p>(617) 535 8888 <br>
          <a href="http://www.mandarinoriental.com/boston/" traget="_blank" >www.mandarinoriental.com/boston</a>
        </p>

      </div>
      <hr>
      <div class="info-block">
        <h2>Entree Options</h2>
      </div>
      <div class="info-block menu">
        <div class="menu-item">
          <div class="menu-item-time">Beef</div>
          <div class="menu-item-event">Beef Tenderloin</div>
          <p>Pommes Dauphinoise · Foraged Mushrooms · Caramelized Cipollini Onions · Veal Jus</p>
        </div>
        <div class="menu-item">
          <div class="menu-item-time">Fish</div>
          <div class="menu-item-event">Cod Meunière</div>
          <p> Romesco · Eggplant Ragout</p>
        </div>
        <div class="menu-item">
          <div class="menu-item-time">Vegetarian</div>
          <div class="menu-item-event">Chef’s Selection of Seasonal Vegetarian Option</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-time">Kids</div>
          <div class="menu-item-event">Chicken Fingers & French Fries</div>
        </div>
      </div>
    </div>
    <div class="main-card-content-block map">
      <div id="map"></div>
    </div>
  </div>
</section>