{
  "extends": "airbnb",
  "rules": {
    
  },
  "globals": {
    "window": true,
    "document": true,
    "Element": true,
    "NodeList": true,
    "HTMLCollection": true,
    "XMLHttpRequest": true,
    "ActiveXObject": true
  }
}