<!DOCTYPE html>
<html>
<head>
	<title>Tianyu and Jeff Wedding</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
	<link rel="stylesheet" href="/css/doublehappiness.css" />
</head>
<body>
  <main class="main">
		<section class="main-card-container">
			<section class="main-card about-us">
				<article class="main-card__text">
					<h1> Tianyu & Jeff</h1>
				</article>
			</section>
			<section class="main-card venue">
			</section>
			<section class="main-card registry">
			</section>
			<section class="main-card rsvp">
			</section>
		</section>
  </main>  
	<div class="logo">	
		<img src="img/logo.svg">
	</div>
	<script type="text/javascript" src="/js/doublehappiness.js"></script>
</body>
</html>
