<!DOCTYPE html>
<html>
<head>
	<title>Tianyu and Jeff Wedding</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
	<link rel="stylesheet" href="/css/doublehappiness.css" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">	
</head>
<body>
  <main class="main hidden">
		<section class="main-card-container">
			<section class="main-card couple" data-current="couple">
				<div class=" main-card-content">
					<!--<h2>Our Story</h2>-->
					<div class="main-card-content-block tianyu">
						<div class="block-img">
							<img src="/img/tianyu-1.jpg">
						</div>
						<p>How are you, stranger? This is the bride-to-be, TIANYU HU（胡天語）. I was born and raised in Shanghai, came to the States for my master. I had never thought about meeting my future husband in a foreign country, but here I am, getting ready for my wedding and spend the rest of my life with him.</p>
					</div>
					<div class="main-card-content-block jeff">
						<div class="block-img ">
							<img src="/img/jeff-1.jpg">
						</div>
						<p>Howdy! CHEUK TAT NG is my name, and 吳爵達 in Chinese if you're wondering. I know it's not easy to pronounce my name, so I just go by Jeff. I moved from HONG KONG to BOSTON 5 years ago, sought for new oppotunities, and the biggest thing I found is the LOVE OF MY LIFE!</p>
					</div>
					<div class="main-card-content-block">
						<div class="container">
							<div class="heart"></div>
						</div>
					</div>
					<!--<div class="main-card-content-block">
						<h3>WE</h3>
						<p>We travelled half the world and met in Boston during a trip with a bunch of friends to Salem for Halloween in 2011. It wasn't love at first sight, but we noticed each other and exchanged contact. I started to ask her out using all kinds of excuses, we talked about our childhood stories, life in our home town and our dreams, we had the feeling for each other and finally I got the courage to hold her hand during the new year firework display! After a 4 years relationship, she said YES to my proposal in Feb 2016!</p>
					</div>-->
				</div>
			</section>
			<section class="main-card wedding" data-current="wedding">
				<div class=" main-card-content">
					<div class="main-card-content-block info">
						<div class="info-block date">
							<h2>MAY 13, 2017</h2>
							<h3>Mandarin Oriental, Boston</h3>
						</div>
						<div class="info-block schedule">
							<div class="schedule-item">
								<div class="schedule-item-time">4:30pm</div>
								<div class="schedule-item-event">CEREMONY</div>
								<p>will be held in the court yard, the garden surround by skyscrapers</p>
							</div>
							<div class="schedule-item">
								<div class="schedule-item-time">6:00pm</div>
								<div class="schedule-item-event">COCKTAIL</div>
								<p>please enjoy refreshments at MO's Gallery</p>
							</div>
							<div class="schedule-item">
								<div class="schedule-item-time">7:00pm</div>
								<div class="schedule-item-event">RECEPTION</div>
								<p>food and DANCING, alcohol and DANCING, cake and DANCING</p>
							</div>
						</div>
						<div class="info-block hotel"><img src="/img/mobos-logo.png"></div>
					</div>
					<div class="main-card-content-block map">
						<div id="map"></div>
					</div>
				</div>
			</section>
			<section class="main-card registry" data-current="registry">
				<div class=" main-card-content">
					<div class="main-card-content-block">
						<h3>Thank you! but...</h3>
						<h2>No Boxed Gifts Please</h2> 
						<p>While personal gifts of household items or sentimental pieces are greatly appreciated.</p> 
						<p>We are currently saving for our honeymoon and we would greatly welcome monetary gifts;</p> 
						<p>It will hopefully save you time and hassle in shopping, as well as help us reach our goal more quickly.</p>
				</div>
			</section>
			<section class="main-card rsvp" data-current="rsvp">
				<div class=" main-card-content">
					<div class="rsvp-form-container">
						<h2>Please RSVP and let us know </h2>
						<div class="rsvp-form-group primary-guest" data-group-name="primary-guest">
							<h3 class="guest-title">Your details</h3>
							<!--<div class="rsvp-form-row" id="attending-response">		
								<div class="rsvp-form-row-item">
									<span>Are you coming?</span>
								</div>
								<div class="rsvp-form-row-item">
									<div class="response-toggle">
										<input id="toggle-switch" type="checkbox" class="toggle-switch">
										<label for="toggle-switch" data-checked="Yes" data-unchecked="No"></label>
									</div>
								</div>
							</div>-->
							<div class="rsvp-form-row row__name">
								<h3>Full name</h3>
								<div class="rsvp-form-row-item">
									<input class="guest-first-name" type="text" value='' name="guest-first-name" data-name-field="guest_first_name" placeholder="first" required>
									
								</div>
								<div class="rsvp-form-row-item">
									<input class="guest-last-name" type="text" name="guest-last-name" data-name-field="guest_last_name" placeholder="last" required>
									
								</div>
							</div>
							<div class="rsvp-form-row row__attending">
								<h3>Will you be able to join us?</h3>
								<div class="rsvp-form-row-item" >
									<input class="attend-btn" type="radio" id="accept" data-resp="accept" name="attending">
									<label for="accept">joyfully accept</label>
								</div>
								<div class="rsvp-form-row-item">
									<input class="attend-btn" type="radio" id="decline" data-resp="reject" name="attending">
									<label for="decline">regretfully decline</label>
								</div>
							</div>
							
							<div class="rsvp-form-row row__menu row--hidden hidden">
								<h3>Please select an entrée</h3>
								<div class="rsvp-form-row-item" >
									<input class="entree-select" type="radio" id="entree-beef" data-name-field="" name="entree" required>
									<label for="entree-beef">Beef Tenderloin</label>
								</div>
								<div class="rsvp-form-row-item">
									<input class="entree-select" type="radio" id="entree-fish" data-name-field="" name="entree">
									<label for="entree-fish">Cod Meunière</label>
								</div>
								<div class="rsvp-form-row-item">
									<input class="entree-select" type="radio" id="entree-vegi" data-name-field="" name="entree">
									<label for="entree-vegi">Vegetarian</label>
								</div>
							</div>

							<div class="rsvp-form-row row__kids row--hidden hidden">
								<h3>Any kids come with you?</h3>
								<div class="rsvp-form-row-item">
									<input class="" type="number" name="" data-name-field="" placeholder="0" required>
								</div>
								<div class="rsvp-form-row-item">*kids meal will be served</div>
							</div>
						</div>

						<div class="rsvp-form-row row__guest--btn row--hidden hidden">
							<h3>Additional guest</h3>
							<div class="rsvp-form-row-item">
								<div class="func-btn__add-more">Add a guest</div>
							</div>
						</div>

						<div class="rsvp-form-row">
							<h3>Say something</h3>
							<div class="rsvp-form-row-item">
								<textarea class="" type="text" name="" data-name-field="" required></textarea>
							</div>
						</div>

						<div class="rsvp-form-row menu-option hidden">
							<div class="rsvp-form-row-item select-field">
								<select class="entree" data-menu-option="entree">
									<option>Select an Entree</option>
									<option value="Fish">Beef Tenderloin</option>
									<option value="Beef">Cod Meunière</option>
									<option value="Vegetarian">Seasonal Vegetarian</option>
								</select>
							</div>
							<div class="rsvp-form-row-item input-field kids-num">
								<input class="num-of-kids" type="number" name="num-of-kids" data-name-field="num-of-kids" placeholder="Number of kids">
							</div>
						</div>
						
						<div class="rsvp-form-row func-btn">
							<div class="rsvp-form-row-item">
								<div class="func-btn__add-more hidden">Add a guest</div>
							</div>
							<div class="rsvp-form-row-item">
								<div class="func-btn__submit">reply</div>
							</div>
						</div>
					</div>
					<div class="submit-msg"></div>
				</div>
			</section>
		</section>
  </main>  
	<div class="logo">
		<img src="img/logo.svg">
		<h1>05.13.2017</h1>
	</div>
	<nav class="global-nav">
		<li data-nav="couple" class="global-nav-couple"><a href="couple"><span class="full-name">TIANYU & JEFF</span><span class="short-name">T & J</span></a></li>
		<li data-nav="wedding" class="global-nav-wedding"><a href="wedding">WEDDING</a></li>
		<li data-nav="registry" class="global-nav-registry" ><a href="registry">REGISTRY</a></li>
		<li data-nav="rsvp" class="global-nav-rsvp"><a href="rsvp">RSVP</a></li>
	</nav>
	<button class="hamburger" type="button">
		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
	</button>
	<script type="text/javascript" src="/js/doublehappiness.js"></script>
	<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBlqi3GCT6-moTPE99I5Octci_A-f2DKSk"></script>

	
</body>
</html>
