<!DOCTYPE html>
<html>
<head>
	<title>Tianyu and Jeff Wedding</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
	<link rel="stylesheet" href="/css/doublehappiness.css" />
</head>
<body>
  <main class="main">
		<section class="main-card-container">
			<section class="main-card about-us">
				<article class="main-card__text">
					<h1></h1>
					<p>
				</article>
			</section>
			<section class="main-card venue">
			</section>
			<section class="main-card registry">
			</section>
			<section class="main-card rsvp">
				<div class="rsvp-form-container main-card-content">
					<div class="rsvp-form-group primary-guest" data-group-name="primary-guest">
						<h2>Your Detail </h2>
						<div class="rsvp-form-row" id="attending-response">		
							<div class="rsvp-form-row-item">
								<span>Will you be able to join us?</span>
							</div>
							<div class="rsvp-form-row-item">
								<div class="response-toggle">
									<input id="toggle-switch" type="checkbox" class="toggle-switch">
									<label for="toggle-switch" data-checked="Yes" data-unchecked="No"></label>
								</div>
							</div>
						</div>
						<div class="rsvp-form-row">
							<div class="rsvp-form-row-item input-field">
								<input class="guest-first-name" type="text" name="guest-first-name" data-name-field="guest-first-name" placeholder="First Name">
							</div>
							<div class="rsvp-form-row-item input-field">
								<input class="guest-last-name" type="text" name="guest-last-name" data-name-field="guest-last-name" placeholder="Last Name">
							</div>
						</div>
						<div class="rsvp-form-row menu-option hidden">
							<h3 class="rsvp-form-row-title">Menu Options</h3>
							<div class="rsvp-form-row-item select-field">
								<select class="starter" data-menu-option="starter">
									<option>Select a Started</option>
									<option value="option 1">Option 1</option>
									<option value="option 2">Option 2</option>
								</select>
							</div>
							<div class="rsvp-form-row-item select-field">
								<select class="entree" data-menu-option="entree">
									<option>Select an Entree</option>
									<option value="optiona 1">Option 1</option>
									<option value="option 2">Option 2</option>
								</select>
							</div>
						</div>
					</div>
					
						<div class="rsvp-form-row func-btn">
							<div class="rsvp-form-row-item">
								<div class="func-btn__add-more hidden">Add a guest</div>
							</div>
							<div class="rsvp-form-row-item">
								<div class="func-btn__submit">Submit</div>
							</div>
						</div>
					</div>
				
			</section>
		</section>
  </main>  
	<div class="logo">
		<!--<h1>Join Our Wedding Celebration!</h1>-->
		<img src="img/logo.svg">
		<h1 class="rsvp-box">
			RSVP NOW
		</h1>
	</div>
	<script type="text/javascript" src="/js/doublehappiness.js"></script>
</body>
</html>
