.couple {
  .main-card-content {
    padding: 2%;
    max-width: 100rem;
    justify-content: space-around;
    &-block {
      flex: 1 1 100%;
      margin: 1rem 0;
      @include breakpoint($bp--sm) {
        flex: 0 1 45%;
      }

      h3 {
        color: $golden;
      }
      
      &.images {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: nowrap;
        margin: 3rem 0;
        justify-content: space-between;
        .block-img {
          flex: 1 1 33%;
          display: inline-block;
          position: relative;
          .top {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            animation: fade-in-out 10s linear infinite;
          }
         

          &:hover > img.top{
            opacity: 0;
          }
          img {
            width: 100%;
            transition: opacity, .2s ease-in;
            
          }
        }
      }

      &.together {
        flex: 1 1 100%;
        @include breakpoint($bp--sm) {
          flex: 0 1 96%;
        }
      }

      

    }
  }
}

// @import "bourbon";

$duration: .7s;

.container {
  position: absolute;
  top: -4rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  max-width: 85px;
  max-height: 250px;
}

.heart { 
  position:relative;
  margin: 1em;
}

.heart:before, .heart:after {
	position: absolute;
  content: "";
  top: 0; 
  background: rgba(174, 31, 36, 1);

	transform: rotate(-45deg);
	transform-origin: 0 100%;
}

.heart:after { 
	left: 0; 

	transform: rotate(45deg);
	transform-origin :100% 100%;
}

.heart:before {
  animation: left-ventricle $duration linear infinite;
}

.heart:after {
  animation: right-ventricle $duration linear infinite;
}

@keyframes left-ventricle {
  0%, 100% {
    left: 2.5rem; 
    width: 2.5rem;  
    height: 4.25rem;
  	border-radius: 1.25rem 1.25rem 0 0;
  }
  20%, 40% {
    left: 2.5rem; 
	  width: 2.75rem;
  	height: 4.5rem;
  	border-radius: 1.75rem 1.75rem 0 0;
  }
}

@keyframes right-ventricle {
  0%, 100% {
    width: 2.5rem;  
    height: 4.25rem;
  	border-radius: 1.25rem 1.25rem 0 0;
  }
  20%, 40% {
    left: -2.5px;
	  width: 2.75rem;
  	height: 4.5rem;
  	border-radius: 1.75rem 1.75rem 0 0;
  }
}

@keyframes fade-in-out {
  0%, 20%, 80%, 100% {
    opacity: 1;
  }
  30%, 70% {
    opacity: 0;
  }
}