.couple {
  .main-card-content {
    padding: 2%;
    @include breakpoint($bp--sm) {
      padding: 2% 10%;
    }
    @include breakpoint($bp--md) {
      padding: 2% 17%;
    }
    

    &-block {
      flex: 1 1 100%;
      padding: 5% 0 0;
      min-height: 8rem;
      position: relative;
      @include breakpoint($bp--sm) {
        flex: 1 1 40%;
      }
      &.tianyu {
        text-align: center;
        @include breakpoint($bp--sm) {
          text-align: right;
        }
        &> .block-img{
          background-image: url("../img/tianyu-2.jpg");
        }
        &> p {
          @include breakpoint($bp--sm) {
            border-right: 1px #d2dddd solid;
          }
        }
      }
      &.jeff {
        text-align: center;
        @include breakpoint($bp--sm) {
          text-align: left;
        }
        .block-img {
          background-image: url("../img/jeff-2.jpg");
        }
      } 

      .block-img {
        width: 25rem;
        height: 16.6rem;
        background-size: cover;
        background-repeat:  no-repeat;
        display: inline-block;
        margin: 2rem;
        overflow: hidden;

        &:hover > img{
          opacity: 0;
        }
        img {
          width: 100%;
          transition: opacity, .2s ease-in;
          
        }
      }

      p {
        padding: 1rem 2rem 4rem;
      }
    }
  }
}

// @import "bourbon";

$duration: .7s;

.container {
  position: absolute;
  top: -4rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  max-width: 85px;
  max-height: 250px;
}

.heart { 
  position:relative;
  margin: 1em;
}

.heart:before, .heart:after {
	position: absolute;
  content: "";
  top: 0; 
  background: rgba(174, 31, 36, 1);

	transform: rotate(-45deg);
	transform-origin: 0 100%;
}

.heart:after { 
	left: 0; 

	transform: rotate(45deg);
	transform-origin :100% 100%;
}

.heart:before {
  animation: left-ventricle $duration linear infinite;
}

.heart:after {
  animation: right-ventricle $duration linear infinite;
}

@keyframes left-ventricle {
  0%, 100% {
    left: 2.5rem; 
    width: 2.5rem;  
    height: 4.25rem;
  	border-radius: 1.25rem 1.25rem 0 0;
  }
  20%, 40% {
    left: 2.5rem; 
	  width: 2.75rem;
  	height: 4.5rem;
  	border-radius: 1.75rem 1.75rem 0 0;
  }
}

@keyframes right-ventricle {
  0%, 100% {
    width: 2.5rem;  
    height: 4.25rem;
  	border-radius: 1.25rem 1.25rem 0 0;
  }
  20%, 40% {
    left: -2.5px;
	  width: 2.75rem;
  	height: 4.5rem;
  	border-radius: 1.75rem 1.75rem 0 0;
  }
}
