.main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  flex-direction: column;

  &-card-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-card {
    //fixed jumpy transition
    box-shadow: 0 0 0 #000;
    transform: translate3d(0,0,0);
    background-size:  cover;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    transition: all .2s ease-out;
    filter: grayscale(100%);
    position: relative;

    &-title {
      text-align: right;
      h1 {
        font-family: 'Poiret One', cursive;
        font-size: 5rem;
        color: #fff;
        font-weight: 200;
        display: inline-block;
        &:after {
          //fixed jumpy transition
          box-shadow: 0 0 0 #000;
          transform: translate3d(0,0,0);
          content: "";
          width: 100%;
          height: 2px;
          display: block;
          margin-top: 5px;
          background-color: #fff;
          visibility: hidden;
          transform: scaleX(0);
          transition: transform .2s ease-in-out;
          
        }
      }
    }

    &-content {
      display: none;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(256, 256, 256, 0.7);
      transition: all .1s ease-out;
    }

    &:hover:before{
      
    }

    &:hover {
      filter: grayscale(0);
      &:before {
        background-color: rgba(256, 256, 256, 0.4);
      }
      & > .main-card-title h1:after {
        transform: scaleX(1);
        visibility: visible;
      } 
    }

    &.active {
      flex-basis: auto !important;
      filter: grayscale(0);
      filter: none;

      & > .main-card-title h1:after {
        transform: scaleX(1);
        visibility: visible;
      } 

      & > .main-card-content {
        display: block;
      }
      
      &:before {
        background-color: rgba(256, 256, 256, 0.2);
      }
    }

    &.inactive {
      flex: 0.000001 !important;
      flex-basis: auto !important;

      & > .main-card-title h1 {
        display: none;
      } 
    }

    &.active, &.inactive {
      filter: grayscale(0);
      filter: none;
    }

    &.couple {
      background-image: url("../img/about.JPG"); 
      margin: 0 0 2.5px 0;
      flex: 1 1 100%;
    }
    &.wedding {
      background-image: url("../img/venue.JPG");
      margin: 2.5px 2.5px 2.5px 0; 
      flex: 1 1 40%;
    }
    &.registry {
      background-image: url("../img/registry.JPG"); 
      margin: 2.5px 0 2.5px 2.5px;
      flex: 1 1 40%;    
    }
    &.rsvp {
      background-image: url("../img/rsvp.JPG"); 
      margin: 2.5px 0 0 0; 
      flex: 1 1 100%;
    }
  }
}
