.main {
  display: block;
  width: 100%;
  padding: 0;
  height: calc(100% - 10.6rem);
  position: relative;
  top: 10.6rem;
  @include breakpoint($bp--sm) {
    top: 16.6rem;
    height: calc(100% - 16.6rem);
  }

  &-card-container {
    // flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 100%;
    height: 100%;
  }

  &-card {
    //fixed jumpy transition
    box-shadow: 0 0 0 #000;
    transform: translate3d(0,0,0);
    transition: flex .2s ease-in-out;
    position: relative;
    width: 0%;
    height: 100%;
    flex: 1 1 40%;
    background-color: rgba(256, 256, 256, 0.9);

    &.active {
      flex-basis: auto !important;
      filter: grayscale(0);
      filter: none;
      & > .main-card-content {
        display: flex;
      }
    }
    &.inactive {
      flex: 0.00001 !important;
    }

    &.active, &.inactive {
      background-image: none !important;
      border-width: 0 !important;
    }

    &.couple {
      border-width: 0 0 2.5px 0;
    }
    &.wedding {
      border-width: 2.5px 2.5px 2.5px 0;
    }
    &.registry {
      border-width: 2.5px 0 2.5px 2.5px;
    }
    &.rsvp {
      border-width: 2.5px 0 0 0;
    }

    &-content {
      display: none;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      margin:0 auto;
      font-size: 1.7rem;
      position: relative;
      top: 0;
      flex-wrap: wrap;
      color: #717171;
      h2 {
        margin: 1rem 0 2rem;
        font-size: 3rem;
        font-weight: 800;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        color: $botanica;
      }
      h3 {
        font-family: 'Lato', sans-serif;
        margin: 1rem 0;
        strong {
          font-weight: 800;
          color: $botanica;
        }
        &.extra-margin {
          margin-bottom: 3rem;
        }
      }
      p {
        line-height: 1.7;
        font-size: 1.4rem;
        font-family: 'Raleway', sans-serif;
      }
    }
  }
}
