.registry {
  .main-card-content {
    padding: 5%;
    background-image: url('../img/nav.svg');
    background-repeat: no-repeat;
    background-position: center 30rem;
    @include breakpoint($bp--sm) {
      padding: 5% 20%;
    }
    &-block {
      width: 100%;
      text-align: center;
      h2 {
        margin-bottom: 4rem;
      }
    }
  }
}